In [4]:
# Pandas'ta Eksik veriler

# gerekli kütüphaneler import edilir.
#
import pandas as pd
import numpy as np

In [5]:
# örneğin hava durumunu incelicez excel dosyasından
# bunları DataFrame yazmadan önce sözlük haline getirelim.
havadurumuVerisi = {"Istanbul": [30, 29, np.nan], "Ankara": [
    20, np.nan, 25], "İzmir ": [40, 39, 38]}
# sözlük haline getirilmiş veriyi DataFrame haline getiriyoruz.
havaDurumuDataFrame = pd.DataFrame(havadurumuVerisi)

havaDurumuDataFrame

"""Istanbul	Ankara	İzmir
0	30.0	20.0	40
1	29.0	NaN	    39
2	NaN	    25.0	    38"""

# peki ben bu görünmeyen veriler için ne yapmalıyım ?

# dropna fonksiyonu nan olanları direkt düşerecektir.eğer bir row'da varsa hepsini çıkartıyor.
havaDurumuDataFrame.dropna()
"""output
	Istanbul	Ankara	İzmir
0	30.0	20.0	40

"""

'output\n\tIstanbul\tAnkara\tİzmir\n0\t30.0\t20.0\t40\n\n'

In [6]:
# peki bunun kolonlu halini alır mıyız? Tabiiki de.

# eğer axis 0 olursa yine row'ları alırken, 1 yazarsak coloumns alır.
havaDurumuDataFrame.dropna(axis=1)
# 

# Şimdi de yeni bir veriyle sadece 1 nan olup sildirmemeye çalışıcaz verileri.
YeniVeri = {"Istanbul": [30, 29, np.nan], "Ankara": [20, np.nan, 25], "İzmir ": [40, 39, 38], "Antalya": [
    50, np.nan, np.nan]}  # bunları DataFrame yazmadan önce sözlük haline getirelim.
# sözlük haline getirilmiş veriyi DataFrame haline getiriyoruz.
YenihavaDurumuDataFrame = pd.DataFrame(YeniVeri)
# 
"""
	Istanbul	Ankara	İzmir	Antalya
0	30.0	    20.0	40	    50.0
1	29.0	    NaN	    39	    NaN
2	NaN	        25.0	38	    NaN
Şimdi şart koyalım 2nan varsa drop et. ama 1 nan varsa etme. bunları raw'larda yapsak patlarız. O yüzden coloumns'larda yapıcaz. özellikle de antalyadakileri hedef alarak..
"""
# 
# ikinci parametremiz olan thresh(çoğu kez görüntü işleme de gördün. Sınırlama demek.2 ve 2 den fazla varsa nan'ları düşürecektir.)
YenihavaDurumuDataFrame.dropna(axis=1, thresh=2)
# 

# ya da nan yazan yerlere 10 veya başka bir sayı koymak istiyorum.

# fillna fonksiyonum da nan olan tüm yerlere içerisine yazılan sayıyı atar.
YenihavaDurumuDataFrame.fillna(20)

   Istanbul  Ankara  İzmir   Antalya
0      30.0    20.0      40     50.0
1      29.0    20.0      39     20.0
2      20.0    25.0      38     20.0

In [7]:
#######################################################
# pandas'ta gruplandırma
# 
maasSozlugu = {"Departman": ["Yazılım", "Yazılım", "Pazarlama", "Pazarlama", "Hukuk"],
               "Calısan Ismi": ["Ahmet", "Mehmet", "Atil", "Cızo", "Zeynep"],
               "Maas": [100, 150, 300, 500, 700]}  # Not bu yazdıklarının hepsi aynı uzunlukta olmalı.
# 
maasDataFrame = pd.DataFrame(maasSozlugu)
# 
maasDataFrame 

"""

    Departman	Calısan Ismi	Maas
0   Yazılım	    Ahmet	100
1	Yazılım	    Mehmet	150
2	Pazarlama	Atil	300
3	Pazarlama	Cızo	500
4	Hukuk	    Zeynep	700


Bunun gibi 500 tane Yazılım -- Pazarlama Ve Hukuk çalışanlarından oluşan bir liste geldiğinde,
sadece yazılım- Hukuk istersem nasıl bulucam. TIPKI AŞAĞIDAKİ GİBİ.

"""
# 
groupObjesi=maasDataFrame.groupby("Departman") # şöyle bir <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000012E96707C10> kaydettiğini söylüyor.
# 
#şimdi ben groupby birçok özelliğini kullanabilirim.

groupObjesi.count() #kaç kişi çalıştığını..
groupObjesi.mean() #ortalama maaşlarını görebiliyorum.


groupObjesi.min()

groupObjesi.max()

#

groupObjesi.describe() #Yukarıda yazdığımız herşeyi bunla bulduk.



#

           Maas
          count   mean         std    min    25%    50%    75%    max
Departman
Hukuk       1.0  700.0         NaN  700.0  700.0  700.0  700.0  700.0
Pazarlama   2.0  400.0  141.421356  300.0  350.0  400.0  450.0  500.0
Yazılım     2.0  125.0   35.355339  100.0  112.5  125.0  137.5  150.0